p {
  text-align: center;
}
div.polaroids {
  overflow: scroll;
  height: 500px;
}
.polaroids {
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.polaroid {
  display: inline-block;
  margin: 5px;
  position: relative;
}

.polaroid img {
  border: 12px solid #fff;
  border-bottom: 70px solid #fff;
  -webkit-box-shadow: 3px 3px 3px #888;
  -moz-box-shadow: 3px 3px 3px #888;
  box-shadow: 3px 3px 3px #888;
  height: 250px;
  max-width: 100%;
}

.polaroid p {
  color: #888;
  font: 500 18px/22px Arial, sans-serif;
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
}
